<h1> Список продуктов </hl>
  <p>
  <br>

<table >

  <% @products.each do |product| %>
    <tr class='<%= cycle('list_line_odd', 'list_line_even') -%>'>
    
      <td>
        <%= image_tag(product.image_url, class: 'list_image') %>
      </td>

      <td class = "list_description">
        <dl>
          <dt><h2><%=product.title %></h2></dt>
          <dd><%=truncate(strip_tags(product.description),length: 80)%></dd>
          <dt> Цена <%=product.price%></dt>
        </dl>
      </td>
      <td class = 'list_actions'>
        <%= link_to 'Показать ', product %><br/>
        <%= link_to 'Изменить', edit_product_path(product), confirm: 'Вы уверены'%><br/>
        <%= link_to 'Удалить', product, confirm: 'Вы уверены? ', method: :delete %>
      </td>
    </tr>
  <% end -%>  
</table>  

<br />
<h3><%= link_to 'Добавть товар', new_product_path %></h3>